*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(12, 25, 37);
    font-family: 'Courier New', Courier, monospace;
    color: #bfa181;
    font-weight: bolder;
}

.navbar{
    /* border: 1px solid white; */
    margin: 0% auto;
    height: fit-content;
    width: 100%;
    display: flex;
}

.title{
    /* border: 1px solid white; */
    margin: auto 1%;
    width: 60%;
    text-align: center;
}

.title p{
    color: #bfa181;
    font-size: 20px;
}

.mode{
    /* border: 1px solid white; */
    margin-right: 5%;
}

.buttons{
    border: 1px solid white;
    margin: 2% auto;
    position: none;
    width: 98%;
    height: fit-content;
    padding: 1%;
}

.btn{
    font-weight: bolder;
}

.container{
    border: 1px solid white;
    width: 36%;
    height: fit-content;
    padding: 1%;
}

.container .input{
    margin-top: 5%;
}

.container input{
    width: 80%;
    margin: 3.5% 10%;
    border-radius: 3%;
    text-align: center;
    height: 55px;
    background-color: rgb(12, 25, 37);
    color: #bfa181;
    border: 1px solid white;
}

.container .btn{
    font-size: 18px;
}

.btn-group{
    margin: 1% auto;
    width: 50%;
}

.dropdown-menu{
    background-color: rgb(12, 25, 37);
}

/* ------------------ for mobile screens -------------------- */
@media(min-width: 300px){

    .title{
        /* border: 1px solid white; */
        margin: auto 1%;
        width: 60%;
        text-align: center;
        padding-top: 1.5%;
    }
    
    .title p{
        color: #bfa181;
        font-size: 20px;
    }

    .btn{
        width: 98%;
        margin: 1%;
    }

    .btn2{
        width: 98%;
        margin: 5% 1%;
    }

    .container{
        width: 98%;
        margin: 5% auto;
    }

    .container h3{
        margin-top: 5%;
    }

    .container .btn1{
        width: 40%;
        margin: 4% 30%;
        height: 50px;
    }

    .container .btn2{
        width: 80%;
        margin: 4% 10%;
        height: 50px;
    }

    .btn-group{
        width: 98%;
        margin-left: 1%;
        height: 50px;
    }

    .dropdown-menu{
        width: 100%;
        margin: 0% auto;
    }

    .dropDownName{
        width: 1000px;
    }

    .dropdown-menu button{
        margin-top: 2%;
    }

    .heading{
        margin-top: 5%;
        font-size: 25px;
    }

    .container h1{
        font-size: 32px;
        margin-top: 2%;
    }
    
    .container p{
        font-size: 25px;
    }
}
/* ------------------ for tablet screens -------------------- */
@media(min-width: 650px){

    .title{
        /* border: 1px solid white; */
        margin: auto 1%;
        width: 60%;
        text-align: center;
        padding-top: 1.5%;
    }
    
    .title p{
        color: #bfa181;
        font-size: 20px;
    }

    .btn{
        width: 98%;
        margin: 1%;
    }

    .btn2{
        width: 98%;
        margin: 5% 1%;
    }

    .container{
        width: 98%;
        margin: 5% auto;
    }

    .container h3{
        margin-top: 5%;
    }

    .container .btn1{
        width: 40%;
        margin: 4% 30%;
        height: 50px;
    }

    .container .btn2{
        width: 80%;
        margin: 4% 10%;
        height: 50px;
    }

    .btn-group{
        width: 98%;
        margin-left: 1%;
        height: 50px;
    }

    .dropdown-menu{
        width: 100%;
        margin: 0% auto;
    }

    .dropDownName{
        width: 2000px;
    }

    .heading{
        margin-top: 3%;
        font-size: 42px;
    }

    .container h1{
        font-size: 35px;
        margin-top: 2%;
    }
    
    .container p{
        font-size: 28px;
    }
}
/* ------------------ for laptop screens -------------------- */
@media(min-width: 900px){

    .title{
        /* border: 1px solid white; */
        margin: auto 1%;
        width: 60%;
        text-align: center;
        padding-top: .1%;
    }

    .title p{
        color: #bfa181;
        font-size: 40px;
    }

    .btn{
        width: initial;
        margin: 0%;
        margin-left: .5%;
    }

    .btn2{
        width: 40%;
        margin: 5% 30%;
        height: 60px;
        font-size: 25px;
    }

    .container{
        width: 35%;
        margin: 3% auto;
    }

    .container h3{
        font-size: 30px;
    }

    .container .btn1{
        width: 40%;
        margin: 4% 30%;
        height: 50px;
    }

    .container .btn2{
        width: 80%;
        margin: 4% 10%;
        height: 50px;
    }

    .btn-group{
        width: 30%;
        margin: 1% 35%;
        height: 50px;
    }

    .dropdown-menu{
        width: 100%;
        margin: 0% auto;
    }

    .dropDownName{
        width: 110%;
    }

    .dropdown-menu button{
        width: 80%;
        margin: 1% 10%;
        height: 45px;
    }
    
    .heading{
        margin-top: 2%;
        font-size: 45px;
    }

    .container h1{
        font-size: 36px;
        margin-top: 2%;
    }
    
    .container p{
        font-size: 27px;
    }

    .container2{
        width: 70%;
    }
}